@use './variables.scss' as v;

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
}

.contact-wrapper {
    width: 92%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 16px;

    .answer-wrapper {
        margin-top: 10px;
        padding: 10px 30px;
    }

    .contact-title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 1.4rem;
        font-weight: bold;
    }
      
}

// ---------------- FORM ---------------- //

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}

.small-input {
    width: 33%;
}

.medium-input {
    width: 50%;
}

.input-row {

    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 67px;
    padding-right: 10px;
    margin-bottom: 20px;
   
   
    label {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px 10px 0px 0px;
        font-size: 14px;
        cursor: text;
        transition: all 0.5s;

        .star {
            color: v.$red;
        }
    }

    input {
        width: 100%;
        height: 0;
        font-size: 0.8rem;
        background-color: transparent;
        transition: 0.5s;

        &::placeholder {
            position: absolute;
            font-size: 0.9rem;
            color: transparent
        }
        
        &:focus {
            height: 30px;
            padding: 10px;
            border: none;
        }

        &:not(:focus).focused:valid, &:focus.focused:valid {
            height: 30px;
            border-bottom: 1px solid v.$green;  
        }  

        &:not(:focus).focused:invalid, &:focus.focused:invalid {
            height: 30px;
            border-bottom: 1px solid v.$red;  
        }  
    }
}

// ---------------- TEXT AREA ---------------- //

.textarea-wrapper {

    width: 100%;
    margin-top: 12px;

    label {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;

        .star {
            color: v.$red;
        }

        textarea {
            margin-top: 6px;
            line-height: 25px;
            outline: none;
            background-color: transparent;
            resize: none;
        
            &:not(:focus).focused:valid, &:focus.focused:valid {
                border-bottom: 1px solid v.$green;  
            }  
        
            &:not(:focus).focused:invalid, &:focus.focused:invalid {
                border-bottom: 1px solid v.$red;  
            }

        }

        .count {
            display: flex;
            justify-content: flex-end;
            font-size: 0.9rem;
            margin-top: 6px;
        }

    }   

}

.submit-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .button {
        width: 30%;
        border-bottom: none;
        color: white;
    }
}

// ---------------- Linkedin ---------------- //

.link-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 5px;
    bottom: 5px;
    z-index: 999;

    .link {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    
        .bi {
            width: 100%;
            height: 100%;
            color: rgba(255, 255, 255, 0.6);
            z-index: 1;

            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        } 
    }
}



// ---------------- Tansition ---------------- //

.showanswer-enter {
    opacity: 0;
    scale: 0.6;
}

.showanswer-enter-active {
    opacity: 1;
    scale: 1;
    transition: all 1s;
}

.showanswer-exit {
    opacity: 1;
    scale: 1;
}

.showanswer-exit-active {
    opacity: 0;
    scale: 0.6;
    transition: all 1s;
}
  
@media (min-width: 700px) {
    .input-row {
        padding-right: 20px;

        label {
            font-size: 16px;

            input {
                font-size: 1rem;
            }
        }
    }
}