@use './variables' as v;

.date-wrapper-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 6px;
    border-radius: 8px;
    background: rgba(#0b0b0f, 0.6);
    gap: 10px;

    .date-row {
        width: 100%;
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 6px;
        }

        .date {
            font-weight: bold;
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 50px;
    background: linear-gradient(180deg, #21212c, #585874);
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2px;

    li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        list-style: none;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(#0b0b0f, 0.4);
        }

        svg {
            width: 20px;
            height: 20px;
        }
       
        a {
            display: flex;
            text-decoration: none; 
            color: white;
            white-space: nowrap;
   
        } 
    }
    
    .main-nav {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .li-theme {
        display: flex;
        margin-bottom: 0;
    }
}

.choose-theme {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}


@media (min-width: 700px) {

    
}