.box-parcours-wrapper {
    width: 100%;
    flex-direction: column;
}

.parcour-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 8px 0;

    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &:last-child {
        margin-bottom: 0;
    }

    .objectif {
        text-align: center;
        font-size: 0.9rem;
        font-style: italic;
        color: rgba(255, 255, 255, 0.5);
    }
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    
    .date {
        font-weight: bold;
    }
}

@media (min-width: 700px) {
    .date-wrapper {
       display: block;
    }
}