.box-parcours-wrapper {
    width: 100%;
    flex-direction: column;
}

.parcour-row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 8px 0;

    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .objectif {
        text-align: center;
        font-size: 0.9rem;
        font-style: italic;
    }
}

.parcour-row:last-child:before {
    border-bottom: none;
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    
    .date {
        font-weight: bold;
    }
}

@media (min-width: 700px) {
    .date-wrapper {
       display: block;
    }
}