.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.skill-categories {
    position: relative;
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-category {
    min-height: 350px;
    height: inherit;
    padding: 20px;
    flex: 1;
    
    .side {
        span {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 20px; 
            z-index: 10;
        }   
    }
}

    
.skill {
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    overflow: hidden;

    &__title {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.6);
    
        .p {
            padding-bottom: 2px;
            border-bottom: 4px solid white;
        }

        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            color: rgba(white, 0.6);
            cursor: pointer;

            &:hover {
                color: white;
            }
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0;
        gap: 10px;
        flex-wrap: wrap;
        flex: 1;
    }

    &__row {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 10px;
        cursor: pointer;
        gap: 6px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        p {
            text-align: center;
        }

        svg {
            width: 25px;
            height: 25px;
        }
    }

    &--global {
        border-top: 1px solid white;

        .skill__container {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;        

            .skill__row {
                width: 25%;
                background-color: rgba(0, 0, 0, 0.6);

                &:hover {
                    background-color: rgba(white, 0.1);
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .box-skill-wrapper {
        max-width: 900px;
    }
}