@use './variables' as v;

.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2.5rem;
    }

    .box-wrapper {
        min-width: 550px;
    }

    .bi { 
        width: 200px;
        height: 200px;
        margin-top: 40px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.welcome-questions-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;

    h2 {
        text-align: center;
    }
}

// ---------------- TRY AGAIN ---------------- //

.tryagain-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-bottom: 20px;
        text-align: center;
    }

}

